.statistics {
  background-color: #dfd8d8;
  margin-top: 20px;
}
.title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.statList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.item {
  list-style: none;
  /* background-color: blueviolet; */
  padding: 10px 10px;
  border: 1px solid #dfd8d8;
  width: 40px;
  justify-content: space-around;
  display: grid;
  justify-items: center;
}
.label {
  font-size: 12px;
  display: block;
  color: white;
}
.percentage {
  color: white;
  font-weight: bold;
}
